[submodule "Sources/Libs/glm"]
	path = Sources/Libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "Sources/Libs/ShaderConductor"]
	path = Sources/Libs/ShaderConductor
	url = https://github.com/microsoft/ShaderConductor
[submodule "Sources/Libs/tinyobjloader"]
	path = Sources/Libs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Sources/Libs/imgui"]
	path = Sources/Libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
